<section id="sectionOne">
  <nav class="nav">
    <img class="logo" src="/images/logo.png" alt="logo">
    <ul class="ul">
      <li class="li"><a href="#sectionTwo">Produtos</a></li>
      <li class="li"><a href="#sectionThree">Quem somos nós?</a></li>
      <li class="li"><a href="#sectionFour">Nossa embalagem</a></li>
      <li class="li"><a href="#">onde encontrar os produtos</a></li>
    </ul>
    <div class="redes-sociais">
      <img src="/images/Facebook.png" alt="">
      <img src="/images/Instagram.png" alt="">
      <img src="/images/Whatsapp.png" alt="">
    </div>
  </nav>
  <div class="conteiner-sectionOne">
    <div class="text-sectionOne">
      <div class="mistura-text-section0ne">
        <img src="/images/Group 17.png" alt="logo">
        <p>Mistura é uma combinação de praticidade, regionalidade e comida saudável em um serviço que chega para
          resgatar as origens da culinária brasileira. Com diversas opções de marmita congeladas, preparadas com muito
          carinho por uma equipe incrível, que cuida da seleção de receitas, até a entrega.</p>
      </div>
      <div class="form-section">
        <div class="mistura-form-sectionOne">
          <h2>Cadastre-se conosco e ganhe 10% de <br> descontoem seu primeiro pedido</h2>
          <form action="/lead" method="POST">
            <input class="input" type="text" name="email" placeholder="email@email.com">
            <input class="input" type="text" name="phone" placeholder="whatsapp">
            <button class="button-sectionOne" type="submit">Confirmar</button>
          </form>
          <h1>{{message}}</h1>
        </div>
      </div>
    </div>
    <div class="b">

    </div>
  </div>
</section>

<section id="sectionTwo">
  <img class="misturaDaSemana-sectionTwo" src="/images/titulo-misturadasemana.png" alt="mistura da semana">

  <div class="container-sectionTwo">
    <div class="mistura-sectionTwo">
      <img src="/images/Galinhada.png" alt="Galinhada">
      <p>As maiores influências da cozinha <span>pernambucana</span> vieram diretamente das culturas portuguesa,
        africana e indígena, e diversas receitas foram adaptadas com ingredientes encontrados com facilidade na região.
      </p>
    </div>
    <div class="mistura-sectionTwo">
      <p>A <span>moqueca</span>, muqueca ou poqueca é um cozido, geralmente de peixe, típico da culinária brasileira e
        da culinária angolana. No Brasil, é prato típico especialmente dos estados do , <span>Bahia, Pará e Ceará</span>
        apresentando variações regionais significativas</p>
      <img src="/images/moquecadepeixe.png" alt="Moqueca de peixe">
    </div>
    <div class="mistura-sectionTwo">
      <img src="/images/Arrumadinho.png" alt="Arrumadinho">
      <p>Descrição do produto dolor sit amet, consectetur adipiscing elit. Enim ultricies eget diam suspendisse ipsum.
        Auctor eu, feugiat turpis tort</p>
    </div>
  </div>

</section>

<section id="sectionThree">
  <img src="/images/Nosso Time.png" alt="">
  <p>Com profissionais nas mais diversas áreas de atuação <span>
      apaixonados pela Mistura que conecta a nós todos
    </span>.</p>
  <div class="container-sectionThree">
    <div class="time-sectionThree">
      <img src="/images/mariana-nutri.png" alt="Mariana nutricionista">
      <img src="/images/carol-embalagem.png" alt="Carol emabalagem"></div>
    <div class="time-sectionThree">
      <img src="/images/carlos-chef.png" alt="Carlos chef">
      <img src="/images/tiago-atendimento.png" alt="Tiago atendimento"></div>
    <div class="time-sectionThree">
      <img src="/images/fernanda-cozinheira.png" alt="Fernanda cozinheira">
      <img src="/images/marcelo-entrega.png" alt="Marcelo entregador"></div>
  </div>
</section>

<section id="sectionFour">
  <img src="/images/titulo-embalagem.png" alt="Embalagens">
  <div class="container-sectionFour">
    <div class="parcerias-sectionFour">
      <p>Trabalhamos em parceria com <span>artistas de todo o Brasil</span>; nossas incríveis  embalagens são <span>colecionáveis e reutilizáveis</span>. Além de ir do freezer direto ao forno micro-ondas.</p>
    </div>
    <div class="embalagens-sectionFour">
    <div class="embalagem-sectionFour">
      <img src="/images/embalagem-guilira.png" alt="Ilustra Guilherme Lira">
      <p>Guilherme Lira, pernambucano de 29 anos, tem em seus projetos influência da cultura brasileira, priorizando cores de verão. <br>
      <span>@liraguilherme</span>
      </p>
      
    </div>
    <div class="embalagem-sectionFour">
      <img src="/images/embalagem-julia.png" alt="Ilustra Julia">
      <p>
        A autodidata mineira de Tiradentes, desenvolveu suas habilidades desde de criança. Hoje produz os mais diversos objetos, para todos os 
        <span>@julia__fontes</span>
      </p>

    </div>
    <div class="embalagem-sectionFour">
      <img src="/images/embalagem-davi caramelo.png" alt="Ilustra Davi Caramelo">
      <p>
        Visual artist, Davi Caramelo tem como suas paixões a arte gráfica e comida, assim como a gente!
        Em seu perfil seu fantástico trabalho.
        <span>@t_rez_e </span>      

      </p>
    </div>
    </div>
  </div>
</section>

<section id="sectionFive">
  <img src="/images/Onde.png" alt="Onde">

</section>