
<section class="sectionOne">
  <div class="title-form-container">
    <div class="text-sectionOne">
      <h1>Titulo do projeto</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore maxime doloribus laudantium dolorum aut
        voluptas in amet consequuntur ad at. Tenetur minus, dignissimos dolore quod ex quibusdam quo repellat debitis.
      </p>
    </div>
    <div class="form-sectionOne">
      <h2>Cadastre-se conosco e ganhe 10% de <br> descontoem seu primeiro pedido</h2>
      <form action="/lead" method="POST">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="phone" placeholder="telefone">
        <button type="submit">ENVIAR</button>
      </form>
      <h1>{{message}}</h1>
    </div>
  </div>
  <div class="img-container-sectionOne">

    <img src="https://www.americasfinestlabels.com/includes/work/image_cache/4b4f4b63cc837b5f01ce2d718b0f9be2.thumb.jpg"
      alt="square">

  </div>
</section>

<section class="sectionTwo">
  <div class="title-sectionTwo">

  <h1>Product</h1>
  </div>
  <div class="container-containers-sectionTwo">
    <div class="img-container-sectionTwo">
      <img  src="https://www.americasfinestlabels.com/includes/work/image_cache/4b4f4b63cc837b5f01ce2d718b0f9be2.thumb.jpg"
      alt="square">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta ullam nisi animi vel natus, voluptatem, deleniti exercitationem qui quibusdam illum atque repellendus magnam, similique nam rem rerum porro molestias? Aliquam.
      </p>
    </div>
    <div class="img-container-sectionTwo">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta ullam nisi animi vel natus, voluptatem, deleniti exercitationem qui quibusdam illum atque repellendus magnam, similique nam rem rerum porro molestias? Aliquam.
      </p>
      <img  src="https://www.americasfinestlabels.com/includes/work/image_cache/4b4f4b63cc837b5f01ce2d718b0f9be2.thumb.jpg"
      alt="square">
    </div>
    <div class="img-container-sectionTwo">
      <img  src="https://www.americasfinestlabels.com/includes/work/image_cache/4b4f4b63cc837b5f01ce2d718b0f9be2.thumb.jpg"
      alt="square">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta ullam nisi animi vel natus, voluptatem, deleniti exercitationem qui quibusdam illum atque repellendus magnam, similique nam rem rerum porro molestias? Aliquam.
      </p>
    </div>
  </div>

  <div class="img-container-sectionTwo">

  </div>
</section>

<div id="map"></div>

