*{
  padding: 0;
  margin: 0;
  font-family: 'Exo', sans-serif;
}

body{
  margin-top: 100px;
}

/* PRIMEIRA SECTION */
.logo{
  height: 100%;
}

.logo > img{
  height: 40px;
}

.sectionOne{
  /* display: flex; */
  height: 100vh;
  background-color: #ebeede;
}

.nav{
  display: flex;
  align-items: center;
  height: 10%;
  width: 100%;
  background-color: #898d4a;
  position: fixed;
  top: 0px;
  left: 0px;
}

.nav > ul {
  display: flex;
}

.container-sectionOne{
  display: flex;
  align-items: center;
  height: 60%;

}

.title-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}


.img-container-sectionOne{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  
}

.img-container-sectionOne > img{
  height: 90%;
  width: 70%;
}

.text-sectionOne{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  max-width: 500px;
  /* margin-bottom: 10px; */
}

.text-sectionOne > img {
  /* margin-bottom: 50px; */
  text-align: center;
  height: 100px;
  
}

.text-sectionOne > p {
  font-size: 24px;
  font-family: 'Exo', sans-serif;
  font-weight: 100;
}

.form-sectionOne{
  width: 80%;
}

.form-sectionOne > h2{
 text-align: start;
}
/* SEGUNDA SECTION */

.sectionTwo{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: lightblue;
}
.title-sectionTwo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20%;
}

.title-sectionTwo > h1 {
  background-color: red;
  font-size: 80px;
}

.container-containers-sectionTwo{
  display: flex;
  height: 80%;
}

.img-container-sectionTwo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.img-container-sectionTwo > img {
  width: 50%;
}

.img-container-sectionTwo > p{
  width: 50%;
  margin: 30px;
}

#map {
  height: 350px;
}