*{
  padding: 0;
  margin: 0;
  font-family: 'Exo', sans-serif;
}

.sectionOne{
  height: 100vh;
  background-color:#E5E5E5;
}
.nav{
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 10%;
  background-color: #898d4a;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2)
}

.ul {
  display: flex;
  justify-content: space-between;
}
.li{
  list-style: none;
}
.li > a {
  color: white;
  font-size: 16px;
  margin-left: 60px;
  text-decoration: none;
}


.redes-sociais > img{
  margin-left: 5px;
  margin-right: 30px;
}

.logo{
  margin-left: 30px;
}

.conteiner-sectionOne{
  height: 100%;
  display: flex;
}

.text-sectionOne{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  height: 100%;
  width: 50%;
}

.b{
  /* background-color: blue; */
  height: 100%;
  width: 50%;
}

.mistura-text-section0ne{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 60%;
  /* background-color:green; */
  width: 80%;
}

.mistura-text-section0ne > img {
  /* margin-top: 100px; */
  margin-bottom: 30px;
  height: 25%;
  max-width: 600px;
  width: 80%;
}

.mistura-text-section0ne > p{
  width: 80%;
  max-width: 600px;
  font-weight: 200;
  line-height: 25px;
}

.form-section{
  height: 45%;
  /* background-color: pink; */
  width: 80%;
}

.mistura-form-sectionOne{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 20px;
}

.mistura-form-sectionOne > h2 {
  font-size: 20px;
  font-weight: 300;
  color: #225F85;
  width: 80%;
  margin-bottom: 5px;
}

.mistura-form-sectionOne > form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.input{
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #225F85;
  border-radius: 5px;
}

.button-sectionOne{
  background-image: url(../images/button_yellow.png);
  border: none;
  background-color: transparent;
  color: white;
  height: 30px;;
}

/* SECTION TWO */

.sectionTwo{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #E5E5E5;;
}

.misturaDaSemana-sectionTwo{
  margin-top: 20px;
  width: 90%;
  height: 18%;
}

.container-sectionTwo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 82%;
  width: 90%;
  /* background-color: red; */
}

.mistura-sectionTwo{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 30%;
  /* background-color: blue; */
}

.mistura-sectionTwo > img{
  height: 55%;
}

.mistura-sectionTwo > p {
  margin-top: 20px;
 height: 45%; 
 width: 80%;
 text-align: center;
 font-style: normal;
 font-weight: 200;
}

p > span {
  font-weight: 500;
}